@model IAmSpeed.Models.ListGameBase
@*Base on FindSegment Controller*@

@{
    ViewData["Title"] = "Index";
}

<h1>Find Segments</h1>

<form asp-action="Index" method="get">
    <input type="text" name="gameName" value="@ViewData["gameName"]" />
    <input type="submit" value="Search" class="btn btn-default" />
</form>


@if (Model.games.Count != 0)
{
    <h1>Your common Games</h1>

    @foreach (var item in Model.games)
    {

        <h4>@item.Name</h4>
        <div>
            Release Date: @item.ReleaseDate
        </div>
        <img src="@item.Picture" />

        @*
            <div>
                <a asp-action="Create" asp-controller="Segments" asp-for="@item.Name" asp-route-id="@item.GameIdFromAPI">Create New Segment</a>
            </div>
            <div>
                <a asp-action="Index" asp-controller="MySegment" asp-route-id="@item.Id">View Current Segments</a>
            </div>
            <div>
                <a asp-action="Delete" asp-controller="Segments" asp-for="@item.Name" asp-route-id="@item.Id">Remove Game</a>
            </div>
        *@
        <div>
            <a asp-action="ShowSegments"  asp-controller="FindSegment" asp-for="@item.GameIdFromAPI" asp-route-GameIdFromAPI="@item.GameIdFromAPI">Show Segments</a>
        </div>
        <hr />
    }
}


@if (Model.data != null || Model.pagination != null)
{
    <ol start=@Model.pagination.offsetPlus>
        @foreach (var item in Model.data)
        {
            <li><h4>@Html.DisplayFor(model => item.names.international)</h4></li>
            <div>
                Release Date: @item.released
            </div>

            <img src="@item.assets.coversmall.uri" />

            <div>
                <a asp-action="ShowSegmentsFromSearch" asp-controller="FindSegment" asp-route-id="@item.id">Show Segments</a>
            </div>
            <hr />
        }
    </ol>





    @foreach (var item in Model.pagination.links)
    {
        <form asp-action="Index" method="get">
            <input type="hidden" name="offset" value="@Html.DisplayFor(model => item.uri)">
            <input type="submit" value="@Html.DisplayFor(model => item.rel)" class="btn btn-default">
        </form>
    }
}