@model IAmSpeed.Models.ListGameBase
@*Base on FindSegment Controller*@

@{
    ViewData["Title"] = "Index";
}



<form asp-action="Index" method="get">
    <input type="text" name="gameName" value="@ViewData["gameName"]" />
    <input type="submit" value="Search" class="btn btn-primary" />
    <p>-Search For New Game</p>
</form>
<hr />

@if (Model.games.Count != 0)
{
    <h1>Find Segments</h1>
    <div class="flexContainer">
        @foreach (var item in Model.games)
        {
            <div class="card cardCss">
                <div class="card-body">
                    <h4>@item.Name</h4>
                    <div>
                        Release Date: @item.ReleaseDate
                    </div>
                    <img class="card-img-top imgUsed" src="@item.Picture" />
                    <div>
                        <a asp-action="ShowSegments" asp-controller="FindSegment" asp-for="@item.GameIdFromAPI" asp-route-GameIdFromAPI="@item.GameIdFromAPI">Show Segments</a>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
}


@if (Model.data != null || Model.pagination != null)
{
    <ol start=@Model.pagination.offsetPlus>
        @foreach (var item in Model.data)
        {
            <li><h4>@Html.DisplayFor(model => item.names.international)</h4></li>
            <div>
                Release Date: @item.released
            </div>

            <img src="@item.assets.coversmall.uri" />

            <div>
                <a asp-action="ShowSegmentsFromSearch" asp-controller="FindSegment" asp-route-id="@item.id">Show Segments</a>
            </div>
            <hr />
        }
    </ol>




    <div class="pagination">
        @foreach (var item in Model.pagination.links)
        {
            <form asp-action="Index" method="get">
                <input type="hidden" name="offset" value="@Html.DisplayFor(model => item.uri)">
                <input type="submit" value="@Html.DisplayFor(model => item.rel)" class="btn btn-primary">
            </form>
        }
    </div>
}
