@model IAmSpeed.Models.GameViewModels.GameSegmentViewModel

@*Create new segment base on game, Use Segments controller for create*@

@{
    ViewData["Title"] = "Create";
}

    <h1>Create Segment for @Model.Game.Name</h1>

<img src="@Model.Game.Picture" />

<div>
<a asp-action="Index" asp-route-id="@Model.Game.Id" asp-controller="MySegment">View Current Segments</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="@Model.Game.Id" type="hidden" value="@Model.Game.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Segment.Name" class="control-label"></label>
                <input asp-for="Segment.Name" class="form-control" />
                <span asp-validation-for="Segment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.Description" class="control-label"></label>
                <input asp-for="Segment.Description" class="form-control" />
                <span asp-validation-for="Segment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.VideoLink" class="control-label"></label>
                <input asp-for="Segment.VideoLink" class="form-control" />
                <span asp-validation-for="Segment.VideoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.Notes" class="control-label"></label>
                <input asp-for="Segment.Notes" class="form-control" />
                <span asp-validation-for="Segment.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.PBTime" class="control-label"></label>
                <input asp-for="Segment.PBTime" class="form-control" />
                <span asp-validation-for="Segment.PBTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.RNG" class="control-label"></label>
                <input asp-for="Segment.RNG" class="form-control" />
                <span asp-validation-for="Segment.RNG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.Category" class="control-label"></label>
                <input asp-for="Segment.Category" class="form-control" />
                <span asp-validation-for="Segment.Category" class="text-danger"></span>
            </div>

  
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
