@model IAmSpeed.Models.GameViewModels.GameSegmentViewModel

@*Delete Entire game and segments, using Segments controller*@

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Game.Name</h4>
    <p>Released: @Model.Game.ReleaseDate</p>
    <img src="@Model.Game.Picture" />
    <hr />

    <p>Warning: Deleting this game will remove all related Segments to this game as well</p>
    <p>You currently have @Model.segmentsList.Count() Segment(s) with this game</p>
    <a asp-action="Index" asp-route-id="@Model.Game.Id" asp-controller="MySegment">View Segments</a>
    <div>
        <a asp-action="Create" asp-controller="Segments" asp-for="@Model.Game.Name" asp-route-id="@Model.Game.GameIdFromAPI">Create New Segment</a>
    </div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Game.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
