@model IAmSpeed.Models.GameViewModels.GameCategoriesViewModel

@{
    ViewData["Title"] = "Create";
}

@if(Model.game != null)
{
<h4>Categories For: </h4>
<h4>@Model.game.data.names.international</h4>
<img src="@Model.game.data.assets.covermedium.uri" />
<hr />

@foreach(var c in Model.categories.data)
{
    <h1>@c.name</h1>
    @if(c.rules != "")
    {
    <p><strong>Rules: </strong>@c.rules</p>

    <div>
        <a asp-action="Details" asp-route-id="@c.id">View Leaderboard for this Category</a>
    </div>

    } else
    {
        <p>No Rules are set for this Category</p>
    }
    <hr />
}

}
@*
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="weblink" class="control-label"></label>
                <input asp-for="weblink" class="form-control" />
                <span asp-validation-for="weblink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="game" class="control-label"></label>
                <input asp-for="game" class="form-control" />
                <span asp-validation-for="game" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment" class="control-label"></label>
                <input asp-for="comment" class="form-control" />
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="submitted" class="control-label"></label>
                <input asp-for="submitted" class="form-control" />
                <span asp-validation-for="submitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    *@



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
